/* Create CSS variables at the root of the document to be used throughout the style sheet */
:root {
  --red: #2e0000;
  --White: #ffffff;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    /* more on this crazy alphanumerical value in a minute! */
    color: var(--red);
    font-family: Helvetica, Arial, sans-serif;
  }
  
  /* apply styles to <header> */
  header {
    padding: 20px 35px;
    background-color:var(--red);
  }
  
  header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #ffffff;
    margin: 0;
    display: inline;
  }
  header a {
    text-decoration: none;
    color: var(--White);
  }
  
  header nav {
    float: right;
    margin: 7px 0;
  }
  
  header nav ul li {
    display: inline;
  }
  
  header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
  }
  /* footer styles */
  footer {
    background: var(--red);
    width: 100%;
    padding: 40px 35px;
  }
  
  footer h2 {
    display: inline;
    color: var(--White);
    font-size: 30px;
    margin: 0;
  }
  
  footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
  }
  
  footer a {
    color: var(--White);
  }
  
  section {
    padding: 60px;
  }
  /* Hero Style Start */
.hero {
  background-image: url(".assets\images\HeaderAlan Anibal.jpg");
  height: 600px;
  background-size: cover;
  background-position: center;
  position: relative;
}