/* variables  */
:root {
  --red: #2e0000;
  --White: #ffffff;
  --redwine:#5c0000;
}
/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    color: var(--red);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
section {
      padding: 60px; 
      background-color: var(--White)
  }
/* Header Styles Start */
  header {
    padding: 20px 35px;
    background-color:var(--red);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;  
  }
  header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--White);
    margin: 0;
  }
  header a {
    text-decoration: none;
    color: var(--White);
  }
  header nav {
    margin: 10px 0;
  }
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
/* Header Styles End */
/* footer styles start */
footer {
  background: var(--red);
  width: 100%;
  padding: 40px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer h2 {
  display: inline;
  color: var(--White);
  font-size: 30px;
  margin: 0;
}
footer div {
  line-height: 1.5;
  text-align: right;
}
footer a {
  color: var(--White);
  margin: 3px;
}
/* Foter Styles end */
/* Hero Style Start */
.hero {
  background-image: url(../images/headerSantacruz.jpg);
  height: 765px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  align-items: flex-start;  
}
.herotitle {
  position: absolute;
  bottom: 90px;
  right: 140px
}
.herotitle h1 {
  margin: 3px;
  font-size: 40px;
  color: var(--redwine);
}
/* Hero Styles End */

/* main content styles */
/* About Me and Work sections Styles start */
main{
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
/* Link Blocks */
.blocks{
  margin: 25px 0;
  padding: 12px 0;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}
.blocks h2 {
  text-align: right;
  border-right: 4px solid var(--red);
  font-size: 25px;
  padding-right: 12px;
  line-height: 1;
  flex: 0 0 20%;
}

.blocks .all-blocks, .blocks .Right-Block{
  flex: 0 0 77%;
}
.all-blocks {
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.project {
  border: var(--red) solid 2px;
  min-width: 270px;
  min-height: 150px;
  max-height: 150px;
  flex-basis: calc(50% - 2em);
  display: flex;
  align-items: flex-end;
  padding: 0 0 20px 0;
  margin: 1em;
  text-decoration: none;
  background-size: auto;
  font-size: 20px;
  background-repeat: no-repeat;
}
.project div{
  padding: 8px;
}
.big-block {

  min-height: 500px;
 flex-basis: 100%;
}
.runbuddy{
  background-image: url(../images/hero-bg-bw.jpg);
  background-position: auto;
 
}
.myfanpage{
  background-image: url(../images/myfanpagebw.jpg);
  background-position-x: center;
  background-position-y: -100px;
}
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
 @media screen and (max-width: 1200px) {
  header {
    padding-bottom: 0;
    justify-content: center;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
    margin: 2px;
  }

  footer h2, footer div {
    text-align: center;
    width: 100%;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  .blocks{
    margin: 25px 0;
    padding: 12px 0;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
  }
  
  .blocks h2 {
    padding-bottom: 3px;
    margin-bottom: 2.5px;
    text-align: center;
    border-right: none;
    border-bottom: 4px solid var(--red);
    font-size: 25px;
    padding-right: 12px;
    line-height: 1;
    flex: 0 0 20%;
  }
  article {
    margin-top: 2px;
  }

}
/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER
@media screen and (max-width: 575px) {
  
} */